.Content {
    // display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    &.Closed {
        opacity: 0;
        pointer-events: none; /* 클릭 방지 */
    }

    &.Open {
        opacity: 1;
    }
}

.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    &.Closed {
        opacity: 0;
        pointer-events: none; /* 클릭 방지 */
    }

    &.Open {
        opacity: 1;
    }
}
