.Tooltip {
    position: relative;
    display: inline-block;
}

.Trigger {
}

.Content {
    &.Closed {
        opacity: 0;
        pointer-events: none; /* 클릭 방지 */
    }

    &.Open {
        opacity: 1;
    }
}
