.Tooltip {
    display: inline-block;
}

.Trigger {
}

.Content {
    &.Closed {
        // opacity: 0;
        pointer-events: none; /* 클릭 방지 */
        display: none;
    }

    &.Open {
        // opacity: 1;
        display: block;
    }
}
